
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1><br><br><br><br>
      <h4 style="align-items: center; margin-left: 200px;">Hello! this is the github search app, where you will search the github user's username and click on search and then his/her name will be displayed with the number of followers, the number of followings and his/her location and also the number of repositories his/her has! you can also click on link to the github to see the descriptions of his/her repositories!</h4><br><br><br><br>
    </div>
    
    <div class="app">
    <router-outlet></router-outlet>
    
    <app-user></app-user>
    
    </div>
  </div>